body {
    background-color: rgb(103, 135, 139);
}
img{
    height: 300px;
    width: 300px;    
}


p,ol,ul {
    width: 600px;
    color: black;
    
    
}

h1,
h2,
h3,
.section{
  
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   display: flex;
   justify-content: center;
   color: orange;
   margin-bottom: 10px;
 
}
.center {
    display: flex;
    justify-content: center;
    margin-left: 30%;
   
}